<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Access_Controller.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Access_Controller.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  
  <appSettings>
    <add key="AccessControllerDBConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\Elson Ribeiro\Documents\Visual Studio 2008\Projects\Access Controller\BD\AccessControllerDB.mdb;Persist Security Info=False" />
    <add key="ws" value="http://127.0.0.1/Sigei.Web.Sis/webservices/kkk.asmx" />
  </appSettings>
  
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <Access_Controller.My.MySettings>
            <setting name="Access_Controller_ws_kkk" serializeAs="String">
                <value>http://127.0.0.1/Sigei.Web.Sis/webservices/kkk.asmx</value>
            </setting>
        </Access_Controller.My.MySettings>
    </applicationSettings>
    <userSettings>
        <Access_Controller.My.MySettings>
            <setting name="ProdutorLogin" serializeAs="String">
                <value />
            </setting>
        </Access_Controller.My.MySettings>
    </userSettings>
</configuration>
